 @media screen and (min-width:1240px) {
	.pin{width: 50%;}
	.pin1{width: 50%;}
	.pin2{width: 50%;}
	.image{width: 50%;}
	.cover{width: 50%;}
	.cover1{width: 50%;}
	.cover2{width: 50%;}
	.cover3{width: 50%;}
	.border{width: 50%;}
	.arrow{width: 50%;}
	.arrow1{width: 50%;}
	.arrow2{width: 50%;}
	.arrow3{width: 50%;}
	.box{width: 50%;}
	.box1{width: 50%;}
	.object{width: 50%;}
	.text{width: 50%;}
	.body{width: 50%;}
	.body1{width: 50%;}
	.tick{width: 50%;}
	.tick1{width: 50%;}
	.check{width: 50%;}
	.call1{width: 50%;}
	.call2{width: 50%;}
	.call3{width: 50%;}
	.body2{width: 50%;}
	.nav{width: 50%;}
	.nav1{width: 50%;}
	.nav2{width: 50%;}
	.nav3{width: 50%;}
	.aside{width: 50%;}
	.aside1{width: 50%;}
	.aside3{width: 50%;}
	.aside2{width: 50%;}
	.line{width: 50%;}
	.nav4box{width: 50%;}
	.navbox{width: 50%;}
	.navbox1{width: 50%;}
	.navbox2{width: 50%;}
	.sidebar{width: 50%;}
	.sidebar1{width: 50%;}
	.sidebar2{width: 50%;}
	.sidebar3{width: 50%;}
	.footer{width: 50%;}
	.footer1{width: 50%;}
	.signup{width: 50%;}
	.footer2{width: 50%;}
	.measure{width: 50%;}
	.measurearrow{width: 50%;}
	.measurelink{width: 50%;}
	.quicklink{width: 50%;}
	.last{width: 50%;}
	.last0{width: 50%;}
	.last1{width: 50%;}
	.last2{width: 50%;}
}
/* @media screen and (max-width:820px){
	.pin{width: 45%;}
	.pin1{width: 45%;}
	.pin2{width: 45%;}
	.image{width: 45%;}
	.cover{width: 45%;}
	.cover1{width: 45%;}
	.cover2{width: 45%;}
	.cover3{width: 45%;}
	.border{width: 45%;}
	.arrow{width: 45%;}
	.arrow1{width: 45%;}
	.arrow2{width: 45%;}
	.arrow3{width: 45%;}
	.box{width: 45%;}
	.box1{width:45%;}
	.object{width: 45%;}
	.text{width: 45%;}
	.body{width: 45%;}
	.body1{width: 45%;}
	.tick{width: 45%;}
	.tick1{width: 45%;}
	.check{width: 45%;}
	.call1{width: 45%;}
	.call2{width: 45%;}
	.call3{width: 45%;}
	.body2{width: 45%;}
	.nav{width: 45%;}
	.nav1{width: 45%;}
	.nav2{width: 45%;}
	.nav3{width: 45%;}
	.aside{width: 45%;}
	.aside1{width: 45%;}
	.aside3{width: 45%;}
	.aside2{width: 45%;}
	.line{width: 45%;}
	.nav4box{width: 45%;}
	.navbox{width: 45%;}
	.navbox1{width: 45%;}
	.navbox2{width: 45%;}
	.sidebar{width: 45%;}
	.sidebar1{width: 45%;}
	.sidebar2{width: 45%;}
	.sidebar3{width: 45%;}
	.footer{width: 45%;}
	.footer1{width: 45%;}
	.signup{width: 45%;}
	.footer2{width: 45%;}
	.measure{width: 45%;}
	.measurearrow{width: 45%;}
	.measurelink{width: 45%;}
	.quicklink{width: 45%;}
	.last{width: 45%;}
	.last0{width: 45%;}
	.last1{width: 45%;}
	.last2{width: 45%;}*/
}
/* @media screen and (max-width:710px){
	.pin{width: 94%;}
	.pin1{width: 94%;}
	.pin2{width: 94%;}
	.image{width: 94%;}
	.cover{width: 94%;}
	.cover1{width: 94%;}
	.cover2{width: 94%;}
	.cover3{width: 94%;}
	.border{width: 94%;}
	.arrow{width: 94%;}
	.arrow1{width: 94%;}
	.arrow2{width: 94%;}
	.arrow3{width: 94%;}
	.box{width: 94%;}
	.box1{width:94%;}
	.object{width: 94%;}
	.text{width: 94%;}
	.body{width: 94%;}
	.body1{width: 94%;}
	.tick{width: 94%;}
	.tick1{width: 94%;}
	.check{width: 94%;}
	.call1{width: 94%;}
	.call2{width: 94%;}
	.call3{width: 94%;}
	.body2{width: 94%;}
	.nav{width: 94%;}
	.nav1{width: 94%;}
	.nav2{width: 94%;}
	.nav3{width: 94%;}
	.aside{width: 94%;}
	.aside1{width: 94%;}
	.aside3{width: 94%;}
	.aside2{width: 94%;}
	.line{width: 94%;}
	.nav4box{width: 94%;}
	.navbox{width: 94%;}
	.navbox1{width: 94%;}
	.navbox2{width: 94%;}
	.sidebar{width: 94%;}
	.sidebar1{width: 94%;}
	.sidebar2{width: 94%;}
	.sidebar3{width: 94%;}
	.footer{width: 94%;}
	.footer1{width: 94%;}
	.signup{width: 94%;}
	.footer2{width: 94%;}
	.measure{width: 94%;}
	.measurearrow{width: 94%;}
	.measurelink{width: 94%;}
	.quicklink{width: 94%;}
	.last{width: 94%;}
	.last0{width: 94%;}
	.last1{width: 94%;}
	.last2{width: 94%;}
}
@media only screen and (min-width:768px) and (max-width:1024px){
	.pin{width: 48%;}
	.pin1{width: 48%;}
	.pin2{width: 48%;}
	.image{width: 48%;}
	.cover{width: 48%;}
	.cover1{width: 48%;}
	.cover2{width: 48%;}
	.cover3{width: 48%;}
	.border{width: 48%;}
	.arrow{width: 48%;}
	.arrow1{width: 48%;}
	.arrow2{width: 48%;}
	.arrow3{width: 48%;}
	.box{width: 48%;}
	.box1{width:48%;}
	.object{width: 48%;}
	.text{width: 48%;}
	.body{width: 48%;}
	.body1{width: 48%;}
	.tick{width: 48%;}
	.tick1{width: 48%;}
	.check{width: 48%;}
	.call1{width: 48%;}
	.call2{width: 48%;}
	.call3{width: 48%;}
	.body2{width: 48%;}
	.nav{width: 48%;}
	.nav1{width: 48%;}
	.nav2{width: 48%;}
	.nav3{width: 48%;}
	.aside{width: 48%;}
	.aside1{width: 48%;}
	.aside3{width: 48%;}
	.aside2{width: 48%;}
	.line{width: 48%;}
	.nav4box{width: 48%;}
	.navbox{width: 45%;}
	.navbox1{width: 48%;}
	.navbox2{width: 48%;}
	.sidebar{width: 48%;}
	.sidebar1{width: 48%;}
	.sidebar2{width: 48%;}
	.sidebar3{width: 48%;}
	.footer{width: 48%;}
	.footer1{width: 48%;}
	.signup{width: 48%;}
	.footer2{width: 48%;}
	.measure{width: 48%;}
	.measurearrow{width: 48%;}
	.measurelink{width: 48%;}
	.quicklink{width: 48%;}
	.last{width: 48%;}
	.last0{width: 48%;}
	.last1{width: 48%;}
	.last2{width: 48%;}
}*/

